.product__item {

    .product__item_main {
        display: flex;
        align-items: center;

        >img{
            width: 500px;
        }
    }

    .product__about {
        display: flex;
        justify-content: space-between;
        >.product__desc{
            line-height: 25px;
            width: 500px;
            border-left: 1px solid #999999;
            padding-left: 50px;
        }
    }

    >.product__title {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #999999;
    }
}