.Cart__btn_counter {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 8px;
    color: #2a2a2a;
    width: 100px;
    height: 35px;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    >.minus,
    .plus {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: #383838;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    >.minus {
        position: absolute;
        left: 7px;
    }

    >.plus {
        position: absolute;
        right: 7px;
    }
}