.BasketIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.icon {
        opacity: 0.2;
    }

    >.Box__title {

        >h2,
        p {
            text-align: center;
            padding: 0;
            margin-block: 10px;
        }

        >p {
            color: gray;
        }
    }

    >a button {
        width: 150px;
        border-radius: 50px;
    }
}