.Lineup {
    overflow: hidden;
    background-color: white;
    border-radius: 20px;

    >.Lineup__item {
        display: flex;
        justify-content: space-between;
        color: black;
        overflow-x: scroll;
        scroll-behavior: smooth;


        >.item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            >.Lineup__processor,
            .Lineup__camera,
            .Lineup__batery,
            .Lineup__praise {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                line-height: 25px;
                text-align: center;
                width: 240px;
                -webkit-user-select: none;
                /* Safari */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* IE10+/Edge */
                user-select: none;
                /* Standard */
            }

            >.Lineup__btn button {
                border-radius: 50px;
                margin-bottom: 15px;
                width: 150px;
            }

            >hr {
                width: 330px;
                border: 1px solid #d2d2d7;
            }

            p {
                color: #8b8b8b !important;
            }
        }

        &::-webkit-scrollbar {
            width: 0px;
            /* Ширина полосы прокрутки */
            height: 0px;
            /* Высота полосы прокрутки (для вертикальной полосы, если нужно) */
        }
    }

    >.Lineup__manage {
        display: flex;
        justify-content: end;
        gap: 20px;
        margin: 20px 50px;

        >svg {
            background-color: rgba(210, 210, 215, 0.64);
            border-radius: 33%;
            opacity: 70%;
            transition: all 0.3s ease;

            &:hover {
                opacity: 100%;
            }
        }
    }
}